<div id="loading">
    <div class="spinner"></div>
</div>
<div class="bgc-white bd bdrs-3 p-20 mB-20" id="viewable" hidden>
    <div class="row">
        <div class="col-8">
            <h4 class="c-grey-900 mB-20">Absentees</h4>
        </div>
<!--        <div class="col-4 d-flex flex-row-reverse">-->
<!--            <button class="btn btn-primary mB-20 mL-10" title="Print" onclick="handlePrinting()"><i class="fa fa-print"></i></button>-->
<!--            <button class="btn btn-success mB-20" title="Export"><i class="fa fa-file-excel"></i></button>-->
<!--        </div>-->
    </div>
    <table id="absenteesDataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Full Name</th>
            <th>Company</th>
            <th>Department</th>
            <th>Missed Classes</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<script>
    $(document).ready(()=>{
        $("#loading").attr("hidden","hidden")
        $("#viewable").removeAttr("hidden")
    })
</script>
<script>
    var table = $('#absenteesDataTable').DataTable({
        "order": [3, "desc" ],
        columnDefs: [
            {
                targets: 0,
                data: "full_name",
                class: "fw-bold",
                render: function(data){
                    return ucwords(data)
                }
            },
            {
                targets: 1,
                data: "company",
                class: "fw-bold",
                render: function(data){
                    return ucwords(data)
                }
            },
            {
                targets: 2,
                data: "department",
                class: "fw-bold",
                render: function(data){
                    return ucwords(data)
                }
            },
            {
                targets: 3,
                class: 'fw-bold text-center',
                data: "missed"
            }
        ]
    })

    var fetch = {
        table: "`trainee_info` left join companies on companies.company_id = trainee_info.company_id left join departments on departments.dept_id = trainee_info.dept_id left join attendance on attendance.student_id = trainee_info.id",
        fields: ["concat(trainee_info.first_name,' ',trainee_info.middle_name,' ',trainee_info.last_name) as full_name","companies.company_name as company","departments.dept_name as department","count(case when attendance.status='Absent' then 1 end) as missed"],
        where: [{
            "trainee_info.acadamic_year": `'${JSON.parse(localStorage.getItem('token')).academic_year}'`,
        }],
        group_by: ["attendance.student_id"],
        order_by: {
            columns: ["missed"],
            order: "desc"
        }
    }

    get(fetch,(res)=>{
        table.rows.add(res).draw(false)
    })
</script>