<div class="row gap-20">
  <!-- #Enrolled ==================== -->
  <div class="col-md-4">
    <div class="layers bd bgc-white p-20">
      <div class="layer w-100">
        <div class="peers ai-sb fxw-nw">
          <div class="peer peer-greed">
            <div>
              <h6>Enrolled Students</h6>
            </div>
          </div>
          <div class="peer">
            <h2 id="enrolled">0</h2>
          </div>
        </div>
      </div>
      <div class="layer w-100">
        <div class="peers ai-sb fxw-nw">
          <div class="peer peer-greed">
            <div>
              <i class="fa fa-users c-orange-500 mT-nv-20" style="font-size: 32pt"></i>
            </div>
          </div>
          <div class="peer">
            Since last year <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15" id="enrolled_perc">+10%</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- #Total Page Views ==================== -->
  <div class="col-md-4">
    <div class="layers bd bgc-white p-20">
      <div class="layer w-100">
        <div class="peers ai-sb fxw-nw">
          <div class="peer peer-greed">
            <div>
              <h6>Males</h6>
            </div>
          </div>
          <div class="peer">
            <h2 id="males">0</h2>
          </div>
        </div>
      </div>
      <div class="layer w-100">
        <div class="peers ai-sb fxw-nw">
          <div class="peer peer-greed">
            <div>
              <i class="fa fa-male c-blue-500 mT-nv-20" style="font-size: 32pt"></i>
            </div>
          </div>
          <div class="peer">
            Since last year <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15" id="males_perc">-10%</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- #Unique Visitors ==================== -->
  <div class="col-md-4">
    <div class="layers bd bgc-white p-20">
      <div class="layer w-100">
        <div class="peers ai-sb fxw-nw">
          <div class="peer peer-greed">
            <div>
              <h6>Females</h6>
            </div>
          </div>
          <div class="peer">
            <h2 id="females">0</h2>
          </div>
        </div>
      </div>
      <div class="layer w-100">
        <div class="peers ai-sb fxw-nw">
          <div class="peer peer-greed">
            <div>
              <i class="fa fa-female c-pink-500 mT-nv-20" style="font-size: 32pt"></i>
            </div>
          </div>
          <div class="peer">
            Since last year <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15" id="females_perc">~10%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mT-10">
  <div class="bd bgc-white">
    <div class="peers fxw-nw@lg+ ai-s">
      <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
        <div class="layers">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Number of Trainees</h6>
          </div>
          <div class="layer w-100">
            <div class="mT-30">
              <!-- Chart -->
              <div class="apexcharts-line" id="chart">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="peer bdL p-20 w-30p@lg+ w-100p@lg-">
        <div class="layers">
          <div class="layer w-100 h-100">
            <h6 class="lh-1">Percentage</h6>
            <div class="row">
              <div class="col-8">
                <h4 class="lh-1 mT-10">Gender</h4>
              </div>
              <div class="col-4">
                <select class="form-select" id="genderPercentages" onchange="getGenderData()">

                </select>
              </div>
            </div>
            <div class="lh-lg" style="display: flex;justify-content: center">
              <div class="apexcharts-pie" id="genderChart">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var fetchAccYears = {
    table: "trainee_info",
    fields: ["distinct acadamic_year"],
    order_by: {
      columns: ["acadamic_year"],
      order: "desc"
    }
  }

  get(fetchAccYears,(res)=>{
    for(i in res){
      $("#genderPercentages").append("<option>" + res[i].acadamic_year + "</option>")
    }
  })
  var fetch = {
    table: "trainee_info",
    fields: ["count(*) as total","count(case when gender='M' then 1 end) as males","count(case when gender='F' then 1 end) as females"],
    where: [{
      'trainee_info.acadamic_year': `'${JSON.parse(localStorage.getItem('token')).academic_year}'`,
      'trainee_info.status': "'Enrolled'"
    }]
  }

  var tmp = JSON.parse(localStorage.getItem('token')).academic_year.split('/')
  var last_acadamic_year = (Number(tmp[0]) - 1) + "/" + (Number(tmp[1]) - 1)
  var fetch_last_year = {
    table: "trainee_info",
    fields: ["count(*) as total","count(case when gender='M' then 1 end) as males","count(case when gender='F' then 1 end) as females"],
    where: [{
      'trainee_info.acadamic_year': `'${last_acadamic_year}'`,
      'trainee_info.status': "'Enrolled'"
    }]
  }

  get(fetch,(res)=>{
    var males = Number(res[0].males)
    var females = Number(res[0].females)
    var total = Number(res[0].total)

    $("#enrolled").empty().html(total)
    $("#males").empty().html(males)
    $("#females").empty().html(females)

    get(fetch_last_year,(response)=>{
      var last_males = Number(response[0].males)
      var last_females = Number(response[0].females)
      var last_enrolled = Number(response[0].total)

      if(last_enrolled !== 0 ){
        var enrolled_percent = Number(((total - last_enrolled)/last_enrolled)*100).toFixed(1)
        if(enrolled_percent > 0)
          $("#enrolled_perc").addClass("bgc-green-50").addClass('c-green-500').empty().html("+"+enrolled_percent+"%")
        else if(enrolled_percent === 0)
          $("#enrolled_perc").addClass("bgc-purple-50").addClass('c-purple-500').empty().html("~"+enrolled_percent+"%")
        else
          $("#enrolled_perc").addClass("bgc-red-50").addClass('c-red-500').empty().html(enrolled_percent+"%")
      }
      else{
        enrolled_percent = 100
        $("#enrolled_perc").empty().html("+"+enrolled_percent+"%")
        $("#enrolled_perc").addClass("bgc-green-50").addClass('c-green-500').empty().html("+"+enrolled_percent+"%")
      }
      if(last_males !== 0){
        var males_percent = Number(((males - last_males)/last_males)*100).toFixed(1)
        if(males_percent > 0)
          $("#males_perc").addClass("bgc-green-50").addClass('c-green-500').empty().html("+"+males_percent+"%")
        else if(males_percent === 0)
          $("#males_perc").addClass("bgc-purple-50").addClass('c-purple-500').empty().html("~"+males_percent+"%")
        else
          $("#males_perc").addClass("bgc-red-50").addClass('c-red-500').empty().html(males_percent+"%")
      }
      else{
        males_percent = 100
        $("#males_perc").addClass("bgc-green-50").addClass('c-green-500').empty().html("+"+males_percent+"%")
      }
      if(last_females !== 0){
        var females_percent = Number(((females - last_females)/last_females)*100).toFixed(1)
        if(females_percent > 0)
          $("#females_perc").addClass("bgc-green-50").addClass('c-green-500').empty().html("+"+females_percent+"%")
        else if(females_percent === 0)
          $("#females_perc").addClass("bgc-purple-50").addClass('c-purple-500').empty().html("~"+females_percent+"%")
        else
          $("#females_perc").addClass("bgc-red-50").addClass('c-red-500').empty().html(females_percent+"%")
      }
      else{
        females_percent = 100
        $("#females_perc").addClass("bgc-green-50").addClass('c-green-500').empty().html("+"+females_percent+"%")
      }

    })
  })
</script>
<script defer>
  var fetchChartData = {
    table: "trainee_info",
    fields: ["acadamic_year","count(*) as count"],
    where: [{
      status: "'Enrolled'"
    }],
    group_by: ["acadamic_year"]
  }

  get(fetchChartData,(res)=>{
    var catagories = []
    var data = []

    for(var i in res){
      catagories.push(res[i].acadamic_year)
      data.push(res[i].count)
    }
    var options = {
      series: [{
        name: "Academic Years",
        data: data
      }
      ],
      chart: {
        height: 480,
        type: 'line',
        toolbar:{
          tools: {
            reset: false,
            download: false
          }
        },
        zoom: {
          enabled: true
        },
      },
      dataLabels: {
        enabled: true
      },
      stroke: {
        width: [2, 2, 2],
        curve: 'smooth',

      },
      legend: {
        tooltipHoverFormatter: function(val, opts) {
          return val + ' - <strong>' + opts.w.globals.series[opts.seriesIndex][opts.dataPointIndex] + '</strong>'
        }
      },
      markers: {
        size: 0,
        hover: {
          sizeOffset: 6
        }
      },
      xaxis: {
        title: "Number of Trainees",
        categories: catagories
      },
      tooltip: {
        y: [
          {
            title: {
              formatter: function (val) {
                return val;
              }
            }
          },
          {
            title: {
              formatter: function (val) {
                return val ;
              }
            }
          },
          {
            title: {
              formatter: function (val) {
                return val;
              }
            }
          }
        ]
      },
      grid: {
        borderColor: '#f1f1f1',
      }
    };
    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
  })
</script>
<script defer>
  var chart2
  var fetchChartData = {
    table: "trainee_info",
    fields: ["count(case when gender='M' then 1 end) as Males, count(case when gender='F' then 1 end) as Females"],
    where: [{
      status: "'Enrolled'",
      acadamic_year: `'${JSON.parse(localStorage.getItem('token')).academic_year}'`,
    }],
  }

  get(fetchChartData,(res)=>{
    console.log(res)
    var catagories = []
    var data = []


    catagories.push("Males")
    data.push(Number(res[0].Males))
    catagories.push("Females")
    data.push(Number(res[0].Females))

    console.log(data)

    var options2 = {
      series: data,
      chart: {
        width: 380,
        height: 400,
        type: 'pie',
      },
      legend: {
        show: false
      },
      labels: catagories,
      responsive: [{
        breakpoint: 380,
        options: {
          chart: {
            width: 200
          },
          legend: {
            tooltipHoverFormatter: function(val, opts) {
              return
            }
          }
        }
      }]
    };
    chart2 = new ApexCharts(document.querySelector("#genderChart"), options2);
    chart2.render();
  })
  function getGenderData(){
    var year = $("#genderPercentages option:selected").html()
    var data = []

    var fetchGenderData = {
      table: "trainee_info",
      fields: ["count(case when gender='M' then 1 end) as Males","count(case when gender='F' then 1 end) as Females"],
      where: [{
        acadamic_year: "'" + year + "'"
      }]
    }

    get(fetchGenderData,(res)=>{
      if(res.length !== 0){
        console.log(data)
        data.push(Number(res[0].Males))
        data.push(Number(res[0].Females))
        chart2.updateSeries(data)
      }
    })
  }
</script>
