<div id="loading">
    <div class="spinner"></div>
</div>
<div class="bgc-white bd bdrs-3 p-20 mB-20" id="viewable" hidden>
    <div class="row">
        <div class="col-6">
            <h4 class="c-grey-900 mB-20">Marks</h4>
        </div>
        <div class="col mT-nv-20" style="display: grid;place-items: center end">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <select class="custom-select" name="years" id="years" onchange="process()">
                            <option disabled="disabled">Academic Year</option>

                        </select>
                    </div>
                </div>
                <div class="col mL-nv-20 mR-nv-10">
                    <div class="form-group">
                        <select class="custom-select" name="department" id="department" onchange="enableBatch(this.value);process()">
                            <option disabled="disabled">Choose Department</option>

                        </select>
                    </div>
                </div>
                <div class="col" id="batchcontainer">
                    <div class="form-group">
                        <select class="custom-select" name="batch" id="batch" onchange="process()">
                            <option disabled="disabled">Choose Batch</option>
                            <option batch="1" selected="selected">Batch 1</option>
                            <option batch="2">Batch 2</option>
                        </select>
                    </div>
                </div>
                <div class="col mL-nv-30">
                    <div class="d-flex flex-row-reverse">
                        <button class="btn btn-primary mB-20 mL-10" title="Print" onclick="handlePrinting()"><i class="fa fa-print"></i></button>
                        <button class="btn btn-success mB-20" title="Export" id="export" onclick="handleExcel()"><i class="fa fa-file-excel"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table id="marksTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr id="headers">
            <th>
                Full Name
            </th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<script>
    function waitForElement(querySelector, timeout=0){
        const startTime = new Date().getTime();
        return new Promise((resolve, reject)=>{
            const timer = setInterval(()=>{
                const now = new Date().getTime();
                if(document.querySelector(querySelector)){
                    clearInterval(timer);
                    resolve();
                }else if(timeout && now - startTime >= timeout){
                    clearInterval(timer);
                    reject();
                }
            }, 100);
        });
    }

    var fetchDepartments = {
        table: "departments",
        fields: ["dept_id","dept_name","shortname"],
        order_by: {
            columns: ["dept_name"],
            order: "asc"
        }
    }

    get(fetchDepartments,(res)=>{
        for(var i in res){
            $('#department').append(`
                <option did='${res[i].dept_id}'>${res[i].dept_name}</option>
            `)
        }

        $('#department option:nth-child(2)').attr('selected',"selected")

    })

    var fetchYears = {
        table: "trainee_info",
        fields: ["distinct acadamic_year"],
        order_by: {
            columns: ["acadamic_year"],
            order: "desc"
        }
    }

    get(fetchYears,(res)=>{
        for(var i in res){
            $('#years').append(`
                <option>${res[i].acadamic_year}</option>
            `)
        }

        $('#years option:nth-child(2)').attr('selected',"selected")

    })

    var table

    waitForElement("#department", 3000).then(function(){
        $("#loading").attr('hidden',"hidden")
        $("#viewable").removeAttr('hidden')

        var fetchModules = {
            table: "module",
            fields: ["distinct module_name","module_id"],
            where: [{
                dept_id: `'${$('#department option:selected').attr('did')}'`,
                acadamic_year: `'${$('#years option:selected').html()}'`,
            }],
            order_by: {
                columns: ["module_id"],
                order: "asc"
            }
        }

        get(fetchModules,setTableHeaders)

        var options = {
            rowId: "student_id",
            "order": [[ 0, "asc" ]],
            columnDefs: [{
                targets: 0,
                class: "fw-bold",
                width: "50%",
                data: "Full Name",
                render: function (data,type,row,meta){
                    return ucwords(data)
                }
            }]
        }

        function setTableHeaders(response){
            new Promise(resolve => {
                for(var i in response){
                    $('#headers').append(`
                    <th>${ucwords(response[i].module_name)}</th>
                    `)
                    var tmp = {
                        targets: Number(i) + 1,
                        width: "8%",
                        class: "fw-bold",
                        data: response[i].module_name.toString(),
                        render: (data) => {
                            if(data === undefined) {
                                return 0
                            } else {
                                return data
                            }
                        }
                    }
                    options.columnDefs.push(tmp)
                    resolve("done")
                }
            }).then(value => {
                table = $('#marksTable').DataTable(options)
                var fetch = {
                    table: "trainee_info left join marks on marks.student_id = trainee_info.student_id",
                    fields: ["trainee_info.first_name","trainee_info.middle_name","trainee_info.last_name","group_concat(marks.module_name,':',marks.mark) as marks"],
                    where: [{
                        dept_id: `'${$('#department option:selected').attr('did')}'`,
                        acadamic_year: `'${$('#years option:selected').html()}'`,
                        status: "'Enrolled'"
                    }],
                    group_by: ["marks.student_id"],
                    order_by: {
                        columns: ["first_name","middle_name","last_name"],
                        order: "asc"
                    }
                }
                if($('#department option:selected').attr('did') === '1')
                    fetch.where[0]["batch"] = $('#batch option:selected').attr('batch')


                get(fetch,convertMarksToJSON)
            })
        }
        function convertMarksToJSON(response){
            var newJSON = []
            for(var i in response){
                var tmp = {
                    "Full Name": response[i].first_name + " " + response[i].middle_name + " " + response[i].last_name,
                }
                var markArray = response[i].marks.split(',')
                for(i in markArray){
                    var splitted = markArray[i].split(':')
                    tmp[splitted[0]] = splitted[1]
                }
                newJSON.push(tmp)
                console.log(newJSON)
            }
            table.rows.add(newJSON).draw(false)
        }
    })

    function process(){
        table.clear()
        table.destroy()

        $('#headers').empty().append(`<th>Full Name</th>`)

        var fetchModules = {
            table: "module",
            fields: ["distinct module_name","module_id"],
            where: [{
                dept_id: `'${$('#department option:selected').attr('did')}'`,
                acadamic_year: `'${$('#years option:selected').html()}'`,
            }],
            order_by: {
                columns: ["module_id"],
                order: "asc"
            }
        }

        get(fetchModules,setTableHeaders)

        var options = {
            rowId: "student_id",
            "order": [[ 0, "asc" ]],
            columnDefs: [{
                targets: 0,
                class: "fw-bold",
                width: "50%",
                data: "Full Name",
                render: function (data,type,row,meta){
                    return ucwords(data)
                }
            }]
        }

        function setTableHeaders(response){
            console.log(response)
            if(response.length !== 0){
                new Promise(resolve => {
                    for(var i in response){
                        $('#headers').append(`
                    <th>${ucwords(response[i].module_name)}</th>
                    `)
                        var tmp = {
                            targets: Number(i) + 1,
                            width: "8%",
                            class: "fw-bold",
                            data: response[i].module_name.toString(),
                            render: (data) => {
                                if(data === undefined) {
                                    return 0
                                } else {
                                    return data
                                }
                            }
                        }
                        options.columnDefs.push(tmp)
                        resolve("done")
                    }
                }).then(value => {
                    table = $('#marksTable').DataTable(options)
                    var fetch = {
                        table: "trainee_info left join marks on marks.student_id = trainee_info.student_id",
                        fields: ["trainee_info.first_name","trainee_info.middle_name","trainee_info.last_name","group_concat(marks.module_name,':',marks.mark) as marks"],
                        where: [{
                            dept_id: `'${$('#department option:selected').attr('did')}'`,
                            acadamic_year: `'${$('#years option:selected').html()}'`,
                            status: "'Enrolled'"
                        }],
                        group_by: ["marks.student_id"],
                        order_by: {
                            columns: ["first_name","middle_name","last_name"],
                            order: "asc"
                        }
                    }
                    if($('#department option:selected').attr('did') === '1')
                        fetch.where[0]["batch"] = $('#batch option:selected').attr('batch')

                    get(fetch,convertMarksToJSON)
                })
            }
            else{
                table = $('#marksTable').DataTable(options)
                var fetch = {
                    table: "trainee_info",
                    fields: ["trainee_info.first_name","trainee_info.middle_name","trainee_info.last_name"],
                    where: [{
                        dept_id: `'${$('#department option:selected').attr('did')}'`,
                        acadamic_year: `'${$('#years option:selected').html()}'`,
                        status: "'Enrolled'"
                    }],
                    order_by: {
                        columns: ["first_name","middle_name","last_name"],
                        order: "asc"
                    }
                }
                if($('#department option:selected').attr('did') === '1')
                    fetch.where[0]["batch"] = $('#batch option:selected').attr('batch')

                get(fetch,convertMarksToJSON)
            }
        }
        function convertMarksToJSON(response){
            var newJSON = []
            for(var i in response){
                var tmp = {
                    "Full Name": response[i].first_name + " " + response[i].middle_name + " " + response[i].last_name,
                }
                var markArray = response[i].marks.split(',')
                for(i in markArray){
                    var splitted = markArray[i].split(':')
                    tmp[splitted[0]] = splitted[1]
                }
                newJSON.push(tmp)
            }
            table.rows.add(newJSON).draw(false)
        }
    }

</script>
<script defer>

    function enableBatch(value){
        if(value === "Computer Application") {
            $("#batchcontainer").removeAttr("hidden")
            $("#batch").removeAttr("disabled")
            $('#batch').rules("add",{
                required: true
            })
        }
        else{
            $("#batchcontainer").attr("hidden","hidden")
            $("#batch").attr("disabled","disabled")
            $("#batch").rules("remove")
        }
    }

    function handleExcel(){
        $('#export').empty().append(`<span class="spinner-border spinner-border-sm text-white"></span>`)
        var realData = table.rows({order: 'applied',search: 'applied'}).data().toArray()

        const csv = jsonToCsv(realData)

        downloadBlob(csv, 'marks.csv', 'text/csv;charset=utf-8;')
        $('#export').empty().append(`<i class="fa fa-file-excel"></i>`)
    }

    function handlePrinting() {
        var jsonData = table.rows({order: 'applied',search: 'applied'}).data()
        var headers = []
        $('#headers').children('th').each((index,element)=>{
            var tmp = {
                field: $(element).html().trim(),
                displayName: $(element).html().trim()
            }
            headers.push(tmp)
        })

        printJS({
            printable: jsonData,
            properties: headers,
            header: `<div class="row">
                        <div class="col">
                        <h3 class="c-grey-900">Marks</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                        <h7 class="c-grey-900">Department: ${$('#department option:selected').html()}</h7>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                        <h7 class="c-grey-900 mT-nv-10 mb-4">Acadamic Year: ${$('#years option:selected').html()}</h7>
                        </div>
                    </div>`,
            css: "./assets/css/print.css",
            type: 'json'
        })
    }

</script>
