<div id="loading">
    <div class="spinner"></div>
</div>
<div class="bgc-white bd bdrs-3 p-20 mB-20" id="viewable" hidden>
    <h4 class="c-grey-900 mB-20">Students</h4>
    <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Full name</th>
            <th>Student ID</th>
            <th>Status</th>
            <th>Gender</th>
            <th>Company</th>
            <th>Phone Number</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<script>
    $(document).ready(()=>{
        $("#loading").attr("hidden","hidden")
        $("#viewable").removeAttr("hidden")
    })
</script>
<script defer>
    var table = $('#dataTable').DataTable({
        rowId: "id",
        autoSize: false,
        "order": [[ 0, "asc" ]],
        columnDefs: [
            {
                targets: 0,
                data: null,
                class: "fw-bold",
                render: function(data,type,row,meta){
                    return ucwords(row.first_name + " " + row.middle_name + " " + row.last_name)
                }
            },
            {
                targets: 1,
                data: "student_id",
                width: "10%"
            },
            {
                targets: 2,
                data: "status",
                width: "8%",
                render: function(data){
                    var color = "c-green-500"
                    if(data === "Dropped Out")
                        color = "c-yellow-700"
                    if(data === "Dismissed")
                        color = "c-red-500"
                    return `<i class="fas fa-dot-circle-o fsz-xs ${color}"></i> ` + data
                }
            },
            {
                targets: 3,
                data: "gender",
                width: "7%",
                render: function (data){
                    if(data === "M" )
                        return `<i class="fas fa-dot-circle-o fsz-xs c-blue-500"></i> ` + data
                    if(data === "F")
                        return `<i class="fas fa-dot-circle-o fsz-xs c-pink-300"></i> ` + data
                }
            },
            {
                targets: 4,
                data: "company_name",
                render: (data) => {
                    return ucwords(data)
                }
            }
            ,
            {
                targets: 5,
                data: "phone_number",
                width: "10%"
            }
        ]
    })

    table.MakeCellsEditable({
        "columns": [2,5],
        "inputCss":'form-control-sm',
        "onUpdate": function (updatedCell,updatedRow,oldValue){
            var fields = {}
            fields[table.columns(updatedCell.index().column).dataSrc()[0]] = updatedCell.data()
            var data = {
                table: "trainee_info",
                fields: fields,
                where: [{
                    id: updatedRow.id()
                }]
            }

            put(data)
        },
        "inputTypes": [
            {
                "column":2,
                "type": "list",
                "options": [{
                    value: "Enrolled",
                    display: "Enrolled"
                },{
                    value: "Dropped Out",
                    display: "Dropped Out"
                },{
                    value: "Dismissed",
                    display: "Dismissed"
                }],
            }
        ]
    })

    var payload = {
        table: "trainee_info join companies on companies.company_id = trainee_info.company_id",
        fields: ["trainee_info.first_name","trainee_info.middle_name","trainee_info.last_name","trainee_info.student_id","trainee_info.status","trainee_info.gender","companies.company_name","trainee_info.phone_number","trainee_info.id"],
        where: [{
            dept_id: `'${JSON.parse(localStorage.getItem('token')).dept_id}'`,
            acadamic_year: `'${JSON.parse(localStorage.getItem('token')).academic_year}'`
        }],
        order_by: {
            columns: ["first_name","middle_name","last_name"],
            order: "asc"
        }
    }
    if(JSON.parse(localStorage.getItem('token')).dept_id === 1)
        payload.where[0]["batch"] = JSON.parse(localStorage.getItem('token')).batch

    send(payload,table)
  </script>
